<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Customer Information Management</title>
</head>
<body>
    <h3>Customer Information Management</h3>

    <form method="get" action="/">
        <input type="submit" value="Refresh">
    </form>

    <p />

    <form method="post" action="/filter">
        <input name="inputCustId" value="" type="number" placeholder="Customer Id" autocomplete="off">
        <input type="submit" value="Search">
    </form>

    <p><a href="{{ url_for('.add_cust_view') }}"> Add New Customer </a></p>

    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>

    {{ table }}
</body>
</html>