<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Update Customer</title>
</head>
<body>
    <h2>Customer Info</h2>
    <form method="post" action="/update">
        <p>
            <input name="inputFirstName" value="{{ row['firstname'] }}" type="text" placeholder="First Name" autocomplete="off" required>
        </p>
        <p>
            <input name="inputLastName" value="{{ row['lastname'] }}" type="text" placeholder="Last Name" autocomplete="off" required>
        </p>
        <p>
            <input name="inputEmailAddress" value="{{ row['emailaddress'] }}" type="email" placeholder="Email" autocomplete="off" required>
        </p>
        <p>
            <input name="inputPhoneAddress" value="{{ row['phoneaddress'] }}" type="text" placeholder="Phone No" autocomplete="off" required>
        </p>
        <p>
            <input name="inputAddress" value="{{ row['address'] }}" type="text" placeholder="Address" autocomplete="off" required>
        </p>
        <p>
            <input name="id" value="{{ row['id'] }}" type="hidden">
            <input type="submit" value="Submit">
        </p>
    </form>
    <p />
    <form method="get" action="/">
        <input type="submit" value="Cancel">
    </form>
</body>
</html>